.header {
    --transition-duration: 0.5s;
    --timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: var(--color-background-main);
    z-index: 5;
}

.burgerBtn {
    width: 27px;
    height: 18px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.burgerDiv,
.burgerDiv > div,
.burgerDiv::before,
.burgerDiv::after {
    width: 19px;
    height: 2px;
    background: var(--color-white-pri);
    transition: var(--transition-duration) var(--timing-function);
}

.burgerDiv {
    position: relative;
    margin-left: auto;
    transform-origin: bottom left;
}

.burgerDiv > div {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.burgerDiv::before,
.burgerDiv::after {
    content: '';
    position: absolute;
    left: -8px;
}

.burgerDiv::before {
    top: -8px;
}

.burgerDiv::after {
    top: 8px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv {
    rotate: 45deg;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv > div {
    rotate: -90deg;
    top: 4px;
    left: 1px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv::before {
    top: 0;
    left: -14px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv::after {
    rotate: -90deg;
    top: 7px;
    left: -7px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 24px 20px;
    background-color: #121212DD;
    backdrop-filter: blur(2px);
    transition: right var(--transition-duration) var(--timing-function);
}

.menu[aria-hidden="true"] {
    right: -100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 72px;
}

.menu a {
    text-decoration: none;
    color: var(--color-white-sec);
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}

.iconDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-block: auto;
}

.iconDiv a {
    display: flex;
}

.iconDiv svg,
.iconDiv img {
    height: 30px;
    /* fill: var(--color-white-sec); */
}