.header {
    --transition-duration: 0.5s;
    --timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    transition: all 0.4s ease;
    z-index: 5;
}

.header > a {
    display: flex;
}

.burgerBtn {
    width: 27px;
    height: 18px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

@media screen and (min-width: 1025px) {
    .burgerBtn {
        display: none;
    }
}

.burgerDiv,
.burgerDiv > div,
.burgerDiv::before,
.burgerDiv::after {
    width: 19px;
    height: 2px;
    background: var(--color-white-pri);
    transition: var(--transition-duration) var(--timing-function);
}

.burgerDiv {
    position: relative;
    margin-left: auto;
    transform-origin: bottom left;
}

.burgerDiv > div {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.burgerDiv::before,
.burgerDiv::after {
    content: '';
    position: absolute;
    left: -8px;
}

.burgerDiv::before {
    top: -8px;
}

.burgerDiv::after {
    top: 8px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv {
    rotate: 45deg;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv > div {
    rotate: -90deg;
    top: 4px;
    left: 1px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv::before {
    top: 0;
    left: -14px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv::after {
    rotate: -90deg;
    top: 7px;
    left: -7px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 24px 20px;
    background-color: #121212DD;
    backdrop-filter: blur(2px);
    transition: right var(--transition-duration) var(--timing-function);
}

@media screen and (min-width: 1025px) {
    .header > a,
    .iconDiv {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header > a {
        left: 36px;
    }

    .iconDiv {
        right: 36px;
    }

    .menu {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
        padding: 0;
        background: none;
        backdrop-filter: none;
    }
}

.menu[aria-hidden="true"] {
    right: -100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 72px;
}

.menu ul a {
    text-decoration: none;
    color: var(--color-white-sec);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    transform: translateX(100px);
    opacity: 0;
    transition: 
        opacity 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}

.menu ul a:not(:last-child) {
    margin-left: 8px;
}

.menu[aria-hidden="false"] ul a {
    transform: translateX(0);
    opacity: 1;
}

.menu ul a:first-child {
    transition-delay: 0.1s;
}

.menu ul a:nth-child(2) {
    transition-delay: 0.2s;
}

.menu ul a:nth-child(3) {
    transition-delay: 0.3s;
}

.menu ul a:nth-child(4) {
    transition-delay: 0.4s;
}

.menu ul a:nth-child(5) {
    transition-delay: 0.5s;
}

.menu ul a:last-child {
    transition-delay: 0.6s;
    padding: 8px;
    width: fit-content;
    color: var(--color-gold-pri);
    border-radius: 4px;
    border: 1px solid var(--color-gold-pri);
    font-size: 20px;
    font-weight: 300;
}

@keyframes nav-fade {
    from {
        transform: translateX(100px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 1025px) {
    .menu ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-inline: auto;
    }

    .menu ul a {
        position: relative;
        opacity: 1;
        transform: translateX(0);
        font-size: 16px;
        font-weight: 300;
    }

    .menu ul a::after {
        content: '';
        position: absolute;
        left: -5%;
        bottom: -2px;
        width: 110%;
        height: 1px;
        background: transparent;
        transition: all 0.3s ease;
    }

    .menu ul a:hover {
        color: var(--color-gold-pri);
    }

    .menu ul a:hover::after {
        background: var(--color-gold-pri);
    }

    .menu ul a:not(:last-child) {
        margin-left: 0;
        transition-delay: 0.3s;
    }

    .menu ul a:last-child {
        display: none;
    }
}

.iconDiv {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    margin-top: auto;
}

@media screen and (min-width: 1025px) {
    .iconDiv {
        margin: 0;
    }
}

.iconDiv a {
    display: flex;
}

.iconDiv svg,
.iconDiv img {
    height: 30px;
}

.iconDiv svg {
    transition: fill 0.3s ease;
}

@media screen and (min-width: 1025px) {
    .iconDiv svg,
    .iconDiv img {
        height: 20px;
    }
}