.header {
    --transition-duration: 0.5s;
    --timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: var(--color-background-main);
    z-index: 5;
}

.burgerBtn {
    width: 27px;
    height: 18px;
    background-color: transparent;
    border: none;
    z-index: 10;
}

.burgerDiv,
.burgerDiv > div,
.burgerDiv::before,
.burgerDiv::after {
    width: 19px;
    height: 2px;
    background: var(--color-white-pri);
    transition: var(--transition-duration) var(--timing-function);
}

.burgerDiv {
    position: relative;
    margin-left: auto;
    transform-origin: bottom left;
}

.burgerDiv > div {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.burgerDiv::before,
.burgerDiv::after {
    content: '';
    position: absolute;
    left: -8px;
}

.burgerDiv::before {
    top: -8px;
}

.burgerDiv::after {
    top: 8px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv {
    rotate: 45deg;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv > div {
    rotate: -90deg;
    top: 4px;
    left: 1px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv::before {
    top: 0;
    left: -14px;
}

.header:has(.menu[aria-hidden="false"]) .burgerDiv::after {
    rotate: -90deg;
    top: 7px;
    left: -7px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 24px 20px;
    background-color: #121212DD;
    backdrop-filter: blur(2px);
    transition: right var(--transition-duration) var(--timing-function);
}

.menu[aria-hidden="true"] {
    right: -100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    padding-top: 72px;
}

.menu ul a {
    text-decoration: none;
    color: var(--color-white-sec);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.menu ul a:not(:last-child) {
    margin-left: 8px;
}

.menu[aria-hidden="false"] ul a {
    transform: translateX(0);
    opacity: 1;
}

.menu ul a:first-child {
    transition-delay: 0.1s;
}

.menu ul a:nth-child(2) {
    transition-delay: 0.2s;
}

.menu ul a:nth-child(3) {
    transition-delay: 0.3s;
}

.menu ul a:nth-child(4) {
    transition-delay: 0.4s;
}

.menu ul a:nth-child(5) {
    transition-delay: 0.5s;
}

.menu ul a:last-child {
    transition-delay: 0.6s;
    padding: 8px;
    width: fit-content;
    color: var(--color-gold-pri);
    border-radius: 4px;
    border: 1px solid var(--color-gold-pri);
    font-weight: 300;
}

@keyframes nav-fade {
    from {
        transform: translateX(100px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

.iconDiv {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    /* width: 100%; */
    margin-top: auto;
}

.iconDiv a {
    display: flex;
}

.iconDiv svg,
.iconDiv img {
    height: 30px;
    /* fill: var(--color-white-sec); */
}