.header {
    padding-top: 48px;
}

.header h1 {
    text-align: left;
    font-size: 20px;
}

.header h3 {
    color: var(--color-white-sec);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}

.header h5 {
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
    color: var(--color-white-ter);
    margin-block: 8px;
}

.header img {
    width: 100%;
    height: auto;
    margin-block: 24px;
}

.content {
    margin-top: 36px;
    padding-bottom: 24px;
    font-size: 12px;
    color: var(--color-white-sec);
    line-height: 1.5;
}

.content img {
    width: 100%;
}

.content h2,
.content h3,
.content h4 {
    color: var(--color-gold-pri);
}

.content > * {
    margin-bottom: 12px;
}

.content ul {
    padding-left: 16px;
    list-style-type: '-';
}

.content ol {
    padding-inline: 8px;
}

.content li {
    margin-bottom: 4px;
}

.content li img {
    float: left;
    width: 35%;
    margin-inline: 8px;
    margin-top: 8px;
}

.content p:has(video) {
    width: fit-content;
    margin-inline: auto;
    margin-block: 48px;
}