.sectionHeader {
    position: sticky;
    top: 71px;
    width: 100%;
    background: linear-gradient(to bottom, #7D6D61, #665344);
    z-index: 1;
}

.sectionHeader h2 {
    color: var(--color-white-pri);
    opacity: 0.7;
    text-align: center;
    font-size: 40px;
    letter-spacing: -0.03em;
}

@media screen and (orientation: portrait) {
    .sectionHeader a {
        display: none;
    }
}

.grid {
    display: grid;
    gap: 12px;
    margin-top: 48px;
    padding-inline: 16px;
}

.grid:not(:first-child) {
    grid-template-columns: repeat(2, 1fr);
}


@media screen and (orientation: landscape) {
    .section {
        display: flex;
        gap: 20px;
        padding-right: 20px;
    }

    .sectionHeader {
        width: 200px;
        height: calc(100vh - 71px);
    }

    .sectionHeader h2 {
        width: 5ch;
        text-align: right;
        margin-inline: auto 8px;
    }

    .section > div + div {
        width: 100%;
        padding-block: 24px;
    }

    .grid {
        margin-top: 0;
    }

    .grid:not(:first-child) {
        grid-template-columns: repeat(3, 1fr);
    }

    .looks_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 20px;
    }

    .looks_grid .grid:not(:first-child) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        height: fit-content;
    }

    .looks_grid > .btnDiv {
        grid-column: 1 / span 2;
    }

    .looks_grid .grid .btnDiv {
        display: none;
    }
}

.grid + .grid {
    margin-top: 72px;
}

.grid:not(:first-of-type) .btnDiv {
    grid-column: 1 / span 2;
}

.grid > a:has(button) {
    margin-inline: auto;
}

.grid > p {
    text-align: center;
    color: var(--color-white-sec);
    font-weight: 300;
    padding-block: 8px;
    border-top: 1px solid var(--color-gold-sec);
    border-bottom: 1px solid var(--color-gold-sec);
}

.grid > * {
    margin-bottom: 12px;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 481px) {
    .btnDiv {
        flex-direction: row;
        width: fit-content;
        margin-inline: auto;
    }

    .btnDiv button {
        width: clamp(180px, 200px, 300px);
    }
}

.contact {
    padding: 32px 16px;
    border-top: 1px solid var(--color-white-ter);
    border-bottom: 1px solid var(--color-white-ter);
}

.contact h5 {
    text-align: center;
    color: var(--color-white-sec);
    line-height: 24px;
}

.form {
    display: grid;
    row-gap: 16px;
    margin-top: 48px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form label span {
    margin-left: 9px;
}

.form a {
    margin-inline: auto;
}