.section {
    padding-inline: 0;
}

.sectionHeader {
    position: sticky;
    top: 78px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-block: 12px;
    background: linear-gradient(to bottom, #7D6D61, #665344);
}

.sectionHeader h2 {
    color: var(--color-white-pri);
    opacity: 0.7;
    text-align: center;
    font-size: 28px;
    letter-spacing: -0.03em;
    line-height: 1;
    text-transform: uppercase;
}

@media screen and (orientation: portrait) {
    .sectionHeader a {
        display: none;
    }
}

.grid {
    display: grid;
    gap: 12px;
    margin-top: 48px;
    padding-inline: 16px;
}

.blog_grid {
    grid-template-columns: repeat(2, 1fr);
}

.grid:not(:first-child) {
    grid-template-columns: repeat(2, 1fr);
}

.first_look {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block: 48px;
}

@media screen and (orientation: landscape) {
    .section {
        display: flex;
        gap: 20px;
        padding-right: 20px;
    }

    .sectionHeader {
        width: 250px;
        height: calc(100vh - 71px);
        background-position: center;
        background-size: cover;
        padding-block: 32px;
        padding-inline: 8px;
    }

    .new_header {
        background-image: url('/new-header.png');
    }

    .looks_header {
        background-image: url('/looks-header.png');
    }

    .blogs_header {
        background-image: url('/blogs-header.png');
    }

    .sectionHeader h2 {
        text-align: right;
        margin-left: auto;
        font-size: 42px;
    }

    .section > div + div {
        width: 100%;
        padding-block: 24px;
    }

    .grid {
        margin-top: 0;
    }

    .grid:not(:first-child) {
        grid-template-columns: repeat(3, 1fr);
    }

    .looks_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 32px;
        column-gap: 20px;
    }

    .looks_grid .grid:not(:first-child) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        height: fit-content;
        margin-block: auto;
    }

    .looks_grid > .btnDiv {
        grid-column: 1 / span 2;
    }

    .first_look .btnDiv {
        display: none;
    }

    .blog_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .sectionHeader {
        width: 325px;
    }

    .sectionHeader h2 {
        margin-right: 12px;
        font-size: 60px;
    }
}

.grid + .grid {
    margin-top: 72px;
}

.grid:not(:first-of-type) .btnDiv {
    grid-column: 1 / span 2;
}

.grid > a:has(button) {
    margin-inline: auto;
}

.grid > p {
    text-align: center;
    color: var(--color-white-sec);
    font-weight: 300;
    padding-block: 8px;
    border-top: 1px solid var(--color-gold-sec);
    border-bottom: 1px solid var(--color-gold-sec);
}

.grid > * {
    margin-bottom: 12px;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 481px) {
    .btnDiv {
        flex-direction: row;
        width: fit-content;
        margin-inline: auto;
    }

    .btnDiv button {
        width: clamp(180px, 200px, 300px);
    }
}

.contact {
    padding: 32px 16px;
    border-top: 1px solid var(--color-white-ter);
    border-bottom: 1px solid var(--color-white-ter);
}

.contact h5 {
    text-align: center;
    color: var(--color-white-sec);
    line-height: 24px;
}

.form {
    display: grid;
    row-gap: 16px;
    margin-top: 48px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form label span {
    margin-left: 9px;
}

.form a {
    margin-inline: auto;
}