.sectionHeader {
    position: sticky;
    top: 71px;
    width: 100%;
    background: linear-gradient(to bottom, #7D6D61, #665344);
    z-index: 1;
}

.sectionHeader h2 {
    color: var(--color-white-pri);
    opacity: 0.7;
    text-align: center;
    font-size: 40px;
    letter-spacing: -0.03em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 48px;
    padding-inline: 16px;
}

.grid p,
.grid .btnDiv {
    grid-column: 1 / span 2;
}

.grid > a:has(button) {
    margin-inline: auto;
}

.grid > p {
    text-align: center;
    color: var(--color-white-sec);
    font-weight: 300;
    padding-block: 8px;
    border-top: 1px solid var(--color-gold-sec);
    border-bottom: 1px solid var(--color-gold-sec);
}

.grid > * {
    margin-bottom: 36px;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.promo {
    grid-column: 1 / span 2;
}

.promo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card_info h5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.contact {
    padding: 32px 16px;
    border-top: 1px solid var(--color-white-ter);
    border-bottom: 1px solid var(--color-white-ter);
}

.contact h5 {
    text-align: center;
    color: var(--color-white-sec);
    line-height: 24px;
}

.form {
    display: grid;
    row-gap: 16px;
    margin-top: 48px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form label span {
    margin-left: 9px;
}

.form a {
    margin-inline: auto;
}