.main {
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;
}

.wrapper {
    height: fit-content;
    margin-bottom: 72px;
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    .main {
        padding: 100px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 48px;
        justify-content: center;
        align-items: center;
        height: fit-content;
        min-height: 100vh;
    }

    .wrapper {
        max-width: 700px;
    }
}

.main h1 {
    margin-block: 24px;
    grid-row: 1;
    align-self: end;
}

.main img {
    margin-inline: auto;
    box-shadow: 0px 6px 10px -3px black;
}

.wrapper img {
    display: block;
    margin-bottom: 24px;
}

.main > img {
    display: none;
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    .main > img {
        display: block;
        height: calc(100vh - 200px);
        min-height: 650px;
        max-height: 1200px;
        width: auto;
    }

    .wrapper img {
        display: none;
    }
}

.section {
    padding-inline: 0;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

.section > * {
    display: block;
    margin-bottom: 16px;
    margin-inline: auto;
    font-size: 12px;
    max-width: 70ch;
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    .section > * {
        margin-inline: 0;
    }
}

@media screen and (min-width: 1200px) {
    .section > * {
        font-size: 16px;
    }
}

.btnDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    .btnDiv {
        flex-direction: row;
        width: 100%;
    }

    .btnDiv > * {
        width: 100%;
    }
}