.main {
    position: relative;
    padding-top: 72px;
}

.main section,
.main aside {
    display: grid;
    row-gap: 24px;
    padding-block: 12px;
    padding-inline: 16px;
}

.main h1,
.main h3 {
    text-align: center;
}

.main h2 {
    font-size: 20px;
}

.main a {
    color: var(--color-gold-pri);
}

.main p,
.section li {
    font-size: 12px;
    color: var(--color-white-sec);
    line-height: 1.5em;
}

.glossary_container {
    position: sticky;
    top: 69px;
    margin-bottom: 24px;
}

.glossary_btn {
    width: 100%;
    padding-block: 8px;
    color: black;
    font-family: inherit;
    font-size: 16px;
    background: var(--color-gold-gradient);
    border: none;
    box-shadow: 0 4px 8px black;
}

.glossary {
    height: 200px;
    overflow-y: scroll;
    padding-left: 24px;
    color: black;
    background: var(--color-gold-sec);
    transition: height 0.3s ease-in-out;
}

.glossary[aria-hidden="true"] {
    height: 0;
}

.glossary a {
    text-decoration: none;
    color: inherit;
}

.glossary li {
    padding-block: 4px;
}

.glossary li:is(:hover, :focus) {
    background-color: var(--color-gold-pri);
}

.main button {
    margin-inline: auto;
}

.section h5 {
    text-align: center;
    color: var(--color-gold-pri)
}

.carousel {
    display: flex;
    gap: 8px;
    width: 100%;
    overflow-x: scroll;
}

.carousel img {
    height: 200px;
    width: auto;
    border-radius: 0;
}

.section img {
    margin-inline: auto;
}

.signoff {
    text-align: right;
    margin-right: 24px;
}

.main hr {
    margin-block: 24px;
}

.video {
    padding-block: 24px;
}

/* .youtube {
    object-fit: cover;
    width: 100%;
    height: auto;
} */