.main {
    position: relative;
    padding-top: 72px;
}

.main section,
.main aside {
    display: grid;
    row-gap: 24px;
    padding-block: 24px;
    scroll-margin-top: 100px;
}

.section,
.main aside {
    margin-top: 24px;
}

.main h1,
.main h3 {
    text-align: center;
}

.intro img {
    width: 80%;
    height: auto;
    border-radius: 0;
    margin-inline: auto;
}

.section h2 {
    position: relative;
    font-size: 20px;
    font-style: italic;
    margin-left: 8px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, var(--color-white-sec), var(--color-white-pri));
}

.section:not(:last-of-type) h2::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: -8px;
    width: 50%;
    height: 4px;
    background: var(--color-gold-gradient);
}

.main a {
    font-size: 12px;
}

.main p,
.section li {
    font-size: 12px;
    color: var(--color-white-sec);
    line-height: 1.5em;
}

.glossary_container {
    position: sticky;
    top: 68px;
    margin-block: 48px 24px;
    z-index: 4;
    isolation: isolate;
}

.glossary_btn {
    width: 100%;
    padding-block: 8px;
    color: black;
    font-family: inherit;
    font-size: 16px;
    background: var(--color-gold-gradient);
    border: none;
    box-shadow: 0 4px 8px black;
}

.glossary {
    position: absolute;
    width: 100%;
    top: 35px;
    height: 200px;
    overflow-y: scroll;
    padding-left: 24px;
    color: black;
    background: var(--color-gold-sec);
    box-shadow: inset 0px -10px 13px -9px black;
    transition: height 0.3s ease-in-out;
    z-index: -1;
}

.glossary[aria-hidden="true"] {
    height: 0;
}

.glossary a {
    text-decoration: none;
    color: inherit;
}

.section a:has(.center_text) {
    text-align: center;
}

.glossary li {
    padding-block: 8px;
    font-weight: 600;
    border-bottom: 1px solid var(--color-grey);
}

.glossary li:is(:hover, :focus) {
    background-color: var(--color-gold-pri);
}

.main button {
    margin-inline: auto;
}

.section h5 {
    text-align: center;
    color: var(--color-gold-pri)
}

.section ol,
.section ul {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section ol p,
.section ul p {
    margin-block: 12px;
}

.section ul {
    list-style-type: '-';
}

.carousel {
    display: flex;
    gap: 8px;
    width: 100%;
    overflow-x: scroll;
}

.carousel img {
    height: 200px;
    width: auto;
    border-radius: 0;
}

.section img {
    margin-inline: auto;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.main hr {
    margin-block: 24px;
}

.video {
    padding-block: 24px;
}

/* .youtube {
    object-fit: cover;
    width: 100%;
    height: auto;
} */