:root {
  --color-white-pri: #FFFFFF;
  --color-white-sec: #D9D9D9;
  --color-white-ter: #878787;
  --color-grey: #333;
  --color-gold-pri: #EBC7AD;
  --color-gold-sec: #C09678;
  --color-gold-gradient: linear-gradient(to bottom, var(--color-gold-pri), var(--color-gold-sec));
  --color-blue-link: #6eaedc;
  --color-background-main: #121212;
  --color-background-card: #12121266;
  --padding-inline-main: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-white-pri);
  background-color: var(--color-background-main);
  scroll-behavior: smooth;
  /* background-image: url('/Logo-Large.svg');
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat; */
}

body {
  display: flex;
  flex-direction: column;
}

header {
  z-index: 1;
}

main {
  position: relative;
  flex-grow: 1;
  padding-top: 72px;
}

section {
  padding-inline: var(--padding-inline-main);
}

h1 {
  text-align: center;
}

a {
  color: var(--color-blue-link);
}

a:has(button) {
  text-decoration: none;
}

.button {
  display: block;
  width: 100%;
  max-width: 310px;
  padding: 8px;
  margin-inline: auto;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid var(--color-gold-pri);
  cursor: pointer;
}

.button-main {
  color: var(--color-gold-pri);
  background-color: rgba(0, 0, 0, 0.288);
}

.button-solid {
  color: black;
  background-color: var(--color-gold-pri);
}

.button-ghost {
  color: var(--color-white-ter);
  background-color: rgba(0, 0, 0, 0.288);
  border-color: var(--color-white-ter);
}

input,
textarea,
select {
  padding: 8px;
  color: var(--color-white-pri);
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid var(--color-white-ter);
  background: var(--color-grey);
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: var(--color-white-ter);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-gold-pri);
}

img {
  border-radius: 4px;
}