:root {
  --color-white-pri: #FFFFFF;
  --color-white-sec: #D9D9D9;
  --color-white-ter: #878787;
  --color-gold-pri: #EBC7AD;
  --color-gold-sec: #C09678;
  --color-gold-gradient: linear-gradient(to bottom, var(--color-gold-pri), var(--color-gold-sec));
  --color-background-main: #121212;
  --color-background-card: #12121266;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-white-pri);
  background-color: var(--color-background-main);
  background-image: url('/Logo-Large.svg');
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  z-index: 1;
}

main {
  position: relative;
  flex-grow: 1;
}