.main {
    padding: 0;
}

.main section {
    margin-bottom: 60px;
    scroll-margin-top: 72px;
}

.main a:has(button) {
    width: 100%;
    max-width: 310px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 16px;
    padding-block: 72px 40px;
    height: 800px;
    background-image: url('/background-mobile.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.hero svg {
    width: 100%;
    height: fit-content;
}

.hero h3 {
    margin-top: -16px;
    font-size: 20px;
    font-weight: 400;
}

.hero span {
    color: var(--color-gold-pri);
}

.hero p {
    margin-top: 24px;
    color: var(--color-white-sec);
    font-size: 12px;
}

.heroBtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 42px;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    padding-bottom: 40px;
    background-color: var(--color-grey);
}

.about_hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 24px;
}

.about_hero img {
    width: 150px;
    height: auto;
}

.about_hero h4 {
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: var(--color-gold-pri);
    text-align: center;
    width: max-content;
    margin-left: -100px;
}

.about aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inline_link {
    font-style: italic;
    color: var(--color-gold-pri);
}

.about p {
    color: var(--color-white-sec);
    font-size: 12px;
    line-height: 1.5em;
}

.about a {
    text-decoration: none;
    margin-inline: auto;
}

.about button {
    display: block;
}