.first_blog {
    position: relative;
    grid-column: 1 / span 2;
}

.first_blog img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.card_info {
    position: absolute;
    inset: 16px;
    top: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    padding-right: 24px;
    background-color: var(--color-background-card);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.latest {
    font-size: 12px;
    font-weight: 300;
    color: #E71313;
}

.card_info h5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--color-white-pri)
}

.card_info h6 {
    color: var(--color-white-sec);
    font-weight: 300;
}

.card_info button {
    display: none;
    padding: 8px;
    color: var(--color-gold-pri);
    background-color: transparent;
    border: 1px solid var(--color-gold-pri);
    border-radius: 0;
}

.blog,
.look {
    text-decoration: none;
}

.blog img,
.look img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.blog h5,
.blog h6,
.look h5,
.look h6 {
    margin-left: 4px;
    text-decoration: inherit;
}

.blog h5,
.look h5 {
    font-size: 16px;
    margin-bottom: 4px;
    color: var(--color-white-sec);
    line-height: 16px;
}

.blog h6,
.look h6 {
    color: var(--color-white-ter);
}

.first_look {
    position: relative;
    width: 80%;
    margin-inline: auto;
    grid-column: 1 / span 2;
}

.first_look > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.first_look > img:nth-of-type(2) {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: look-fade 7s ease 2s infinite;
}

@keyframes look-fade {
    15%, 50% {
        opacity: 1;
    }

    65%, 100% {
        opacity: 0;
    }
}

.colors {
    display: flex;
    gap: 12px;
    margin-block: 6px;
}

.colors img {
    width: 36px;
    height: 20px;
    object-fit: cover;
    border-radius: 4px;
}