.main {
    min-height: 100vh;
}

.promo {
    max-width: 1200px;
    margin-inline: auto;
}

.promo h2 {
    font-size: 20px;
    text-align: center;
    margin-block: 48px;
}

.promo h1 {
    margin-block: 32px 48px;
}

.promo img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-inline: auto;
    margin-block: 32px;
}

.promo p {
    margin-bottom: 24px;
}

@media screen and (min-width: 1025px) {
    .promo img {
        float: left;
        margin-block: 0;
        margin-right: 48px;
    }
}