.parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-block: 12px;
}

.parameters div {
    width: 100%;
}

.parameters input,
.parameters select {
    width: 100%;
    margin-top: 8px;
}

.blog_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 30px;
    padding-block: 24px;
}