.main {
    padding-inline: 16px;
}

.main p {
    font-size: 12px;
    color: var(--color-white-sec);
    line-height: 1.6;
}

.form {
    position: relative;
    margin-top: 24px;
    height: 100vh;
    overflow: hidden;
}

.formDiv {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    row-gap: 12px;
    width: 100%;
    max-height: 100%;
    transition: all 0.5s ease-in-out;
}

.formDiv > label {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 32px);
    margin-bottom: 12px;
}

.formDiv input:not([type="radio"]) {
    width: 100%;
}

.formDiv span {
    margin-bottom: 12px;
}

.radioDiv span {
    margin-bottom: 0;
}

.img_container,
.img_container_selfie {
    height: 400px;
    width: 100%;
    cursor: pointer;
}

.img_container_selfie {
    background-color: #222;
    border-radius: 8px;
    border: 1px solid var(--color-white-ter);
    background-image: url('/silhouette.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.img_container:is(:hover, :focus) {
    outline: none;
    background-color: var(--color-grey);
}

.img_container img,
.img_container_selfie img {
    width: 100%;
    height: 100%;
}

.img_container_selfie img {
    object-fit: cover;
}

.radioDiv {
    display: grid;
    row-gap: 6px;
}

.radioDiv > p {
    margin-block: 6px;
}

.radioDiv label {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: fit-content;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--color-white-ter);
}

.selfie {
    display: block;
}

.selfie input {
    display: none;
}

.btnDiv {
    margin-top: 24px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
}

.form_completion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}