.main {
    padding-top: 120px;
}

.section {
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: 60px;
}

.section:last-child {
    margin-top: 100px;
}

@media screen and (orientation: landscape) {
    .section:last-child {
        margin-top: 150px;
    }
}

.section h2 {
    font-size: 20px;
    text-align: center;
}

.section p {
    margin-block: 12px;
    color: var(--color-white-sec);
    font-size: 12px;
    line-height: 20px;
}

.section > p {
    padding-inline: 24px;
    margin-inline: auto;
}

@media screen and (min-width: 481px) {
    .section:last-child > p {
        width: 80%;
        padding-inline: 0;
    }
}

@media screen and (min-width: 769px) {
    .section h2 {
        font-size: 24px;
    }

    .section p {
        font-size: 16px;
    }
}

.profile {
    display: grid;
    margin-block: 32px;
    margin-inline: auto;
    width: 80%;
}

.profile h3 span {
    font-size: 14px;
    color: var(--color-white-sec);
    font-style: italic;
}

.profile h3,
.profile p {
    max-width: 553px;
    margin-inline: auto;
}

.profile img {
    display: block;
    width: 100%;
    max-width: 553px;
    height: auto;
    margin-bottom: 12px;
    margin-inline: auto;
}

@media screen and (min-width: 1025px) {
    .profile {
        grid-template-columns: 400px 1fr;
        column-gap: 24px;
    }
}

.affiliate_container {
    margin-block: 48px;
}

.affiliate_container strong {
    font-size: 14px;
    color: var(--color-white-pri);
}

@media screen and (orientation: landscape) {
    .affiliate_container strong {
        font-size: 18px;
    }
}

.affiliate {
    margin-block: 100px;
    margin-inline: auto;
    max-width: 600px;
}

.affiliate img,
.affiliate svg {
    display: block;    
    margin-inline: auto;
    margin-bottom: 24px;
    width: 150px;
    height: auto;
}

@media screen and (min-width: 481px) {
    .affiliate {
        display: grid;
        grid-template-columns: 150px 1fr;
        column-gap: 24px;
        align-items: center;
    }
}

@media screen and (orientation: landscape) {
    .affiliate {
        grid-template-columns: 243px 1fr;
        max-width: none;
        width: 80%;
    }

    .affiliate img,
    .affiliate svg {
        width: 234px;
    }
}