.main {
    padding-top: 120px;
}

.section {
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: 60px;
}

.section:last-child {
    margin-top: 100px;
}

@media screen and (orientation: landscape) {
    .section:last-child {
        margin-top: 150px;
    }
}

.section h2 {
    font-size: 20px;
    text-align: center;
}

.section p {
    margin-block: 12px;
    color: var(--color-white-sec);
    font-size: 12px;
    line-height: 20px;
}

.section > p {
    padding-inline: 24px;
    margin-inline: auto;
}

@media screen and (min-width: 481px) {
    .section:last-child > p {
        width: 80%;
        padding-inline: 0;
    }
}

@media screen and (min-width: 769px) {
    .section h2 {
        font-size: 24px;
    }

    .section p {
        font-size: 16px;
    }
}

.profile {
    display: grid;
    margin-bottom: 72px;
    margin-inline: auto;
    width: 80%;
}

.profile h3 span {
    font-size: 14px;
    color: var(--color-white-sec);
    font-style: italic;
}

.profile h3,
.profile p {
    max-width: 553px;
    margin-inline: auto;
}

.profile img {
    display: block;
    width: 100%;
    max-width: 553px;
    height: auto;
    margin-bottom: 12px;
    margin-inline: auto;
}

@media screen and (min-width: 1025px) {
    .profile {
        grid-template-columns: 400px 1fr;
        column-gap: 24px;
    }
}

.affiliate_container {
    margin-block: 48px;
}

.affiliate_container strong {
    font-size: 14px;
    color: var(--color-white-pri);
}

@media screen and (orientation: landscape) {
    .affiliate_container strong {
        font-size: 18px;
    }
}

.affiliate {
    margin-block: 100px;
    margin-inline: auto;
    max-width: 600px;
}

.affiliate img,
.affiliate svg {
    display: block;    
    margin-inline: auto;
    margin-bottom: 24px;
    width: 150px;
    height: auto;
}

@media screen and (min-width: 481px) {
    .affiliate {
        display: grid;
        grid-template-columns: 150px 1fr;
        column-gap: 24px;
        align-items: center;
    }
}

@media screen and (orientation: landscape) {
    .affiliate {
        grid-template-columns: 243px 1fr;
        max-width: none;
        width: 80%;
    }

    .affiliate img,
    .affiliate svg {
        width: 234px;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    margin-inline: auto;
    margin-top: 36px;
}

@media screen and (min-width: 481px) {
    .socials {
        margin-inline: 32px;
    }
}

.socials a {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    color: var(--color-white-ter);
    transition: color 0.3s ease;
    width: fit-content;
}

.socials a:not(:first-of-type) svg {
    fill: var(--color-white-ter);
}

.socials a:is(:hover, :focus) {
    color: var(--color-white-sec);
}

.socials a:not(:first-of-type):is(:hover, :focus) svg {
    fill: var(--color-white-sec);
}

.socials svg,
.socials img {
    height: 26px;
    transition: all 0.3s ease;
    margin-bottom: 0;
}