.footer {
    padding: 12px;
    margin-bottom: 12px;
    color: var(--color-white-ter);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.form {
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
    margin-bottom: 48px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-block: 16px;
    border: none;
    font-size: 12px;
}

.form button {
    font-size: 12px;
}

.footer img {
    opacity: 0.5;
    width: 50%;
    height: auto;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block: 24px;
}

.links a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-white-ter);
}