.footer {
    padding: 12px;
    margin-bottom: 12px;
    color: var(--color-white-ter);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    background-color: var(--color-background-main);
}

.form {
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
    margin-bottom: 48px;
}

.form div {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .footer {
        font-size: 16px;
    }

    .form {
        margin-top: 32px;
        margin-bottom: 0;
        max-width: 600px;
    }

    .form div {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .form div input {
        width: 450px;
    }

    .form div button {
        height: fit-content;
        width: 150px;
    }

    .footer > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: left;
        margin-block: 48px;
    }
}

.form input {
    margin-block: 16px;
    border: none;
    font-size: 12px;
}

.form button {
    font-size: 12px;
}

@media screen and (min-width: 769px) {
    .form input,
    .form button {
        font-size: 16px;
    }
}

.footer img {
    opacity: 0.5;
    width: 50%;
    height: auto;
}

@media screen and (min-width: 481px) {
    .footer img {
        width: auto;
        height: 150px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block: 24px;
}

.links a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-white-ter);
}

@media screen and (min-width: 769px) {
    .links a {
        font-size: 20px;
        transition: all 0.3s ease;
    }

    .links a:is(:hover, :focus) {
        color: var(--color-white-sec);
    }
}

.iconDiv {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-block: 24px;
}

@media screen and (min-width: 1025px) {
    .iconDiv {
        margin: 0;
    }
}

.iconDiv a {
    display: flex;
}

.iconDiv svg,
.iconDiv img {
    height: 30px;
}

.iconDiv svg {
    transition: fill 0.3s ease;
}

.footer > a {
    display: block;
    margin-block: 24px;
}