.main h1 {
    margin-block: 48px;
}

.parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-block: 12px;
    max-width: 1000px;
    margin-inline: auto;
}

.parameters div {
    width: 100%;
}

@media screen and (orientation: landscape) {
    .parameters {
        flex-direction: row;
        justify-content: center;
    }

    .parameters div {
        margin-bottom: 24px;
    }
}

.parameters input {
    width: 100%;
    margin-top: 8px;
}

.parameters label {
    color: var(--color-white-sec);
}

.look_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 48px;
    padding-block: 24px;
    max-width: 1200px;
    margin-inline: auto;
}

.look_grid > *:first-child {
    grid-column: 1 / span 2;
}

@media screen and (min-width: 769px) {
    .look_grid {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .look_grid > *:first-child {
        grid-column: 1 / span 3;
    }
}