.sectionHeader {
    width: 100%;
    background: linear-gradient(to bottom, #7D6D61, #665344);
}

.sectionHeader h2 {
    color: var(--color-white-pri);
    opacity: 0.7;
    text-align: center;
    font-size: 40px;
    letter-spacing: -0.03em;
}