.social_stats {
    display: flex;
    gap: 24px;
}

.stat_div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stat_div svg {
    height: 24px;
}

.like_btn {
    display: flex;
    background-color: transparent;
    border: none;
}