.social_stats {
    display: flex;
    gap: 24px;
}

.stat_div {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: var(--color-white-sec);
}

.stat_div svg {
    height: 20px;
}

.like_btn {
    display: flex;
    background-color: transparent;
    border: none;
}